html, body{margin: 0; padding: 30px 0px 0px 0px; overflow-x: scroll; font-size: 0px;}
div{display: inline-block; margin: 0;}
#container{width: 100vw; overflow-x: scroll; height: 100vh;}
#footer{width: 3476px; height: 30px;}
*::selection{background-color: transparent;}
body{ -ms-overflow-style: none; } body::-webkit-scrollbar { display: none;}
.width-1{width: 90px;}/*년도, 구분*//*년도, 구분*/
.width-2{width: 180px;}/*소개 width-1 × 2*/
.width-3{width: 360px;}/*제목 width-1 × 4*/
.width-4{width: 30px;} /*여백*/
.column:hover{background-color: #dadada; cursor: pointer;}
.gnb-1{text-align: center; box-sizing: border-box; font-size: 16px;}
.gnb-2{border-right: 1px solid #000; text-align: center; box-sizing: border-box; height: 90px; position: relative; top: -71px; font-size: 16px;}
.gnb-3{border-right: 1px solid #000; text-align: center; box-sizing: border-box; height: 90px; font-size: 16px;}
.gnb-4{border-right: 1px solid #000; text-align: center; box-sizing: border-box; height: 30px; font-size: 16px;}
.gnb-3 img{height: 88px;}
.gnb-2:hover{cursor: pointer; background-color: #f3f3f3; transition: 0.3s;}
.top-1 div{height: 60px; background-color: #fff; transition: 0.3s;}
.top-1 div:hover{cursor: pointer; background-color: #f3f3f3; transition: 0.3s;}
.gnb-3:hover{cursor: pointer; background-color: #f3f3f3; transition: 0.3s;}
.top-1{border-bottom: 3px solid #000; width: 3476px; position: fixed; top: 0px; background-color: #fff; z-index: 999;}
.top-1 div{border-right: 1px solid #000;}
.top-2{border-bottom: 1px solid #000; width: 3476px; height: 90px;}
.top-1 span{transform: translateY(-50%); top: 48%; position: relative; display: inline-block;}
.top-2 span{transform: translateY(-50%); top: 48%; position: relative; display: inline-block;}
.top-3 span{transform: translateY(-50%); top: 48%; position: relative; display: inline-block;}
.book {overflow: hidden; display: flex; align-items:flex-start; height: 60px;border-bottom: 1px solid #000; width: 3476px; font-size: 16px; background-image: url("img/bg.png");}
.book span{top: 19px; position: relative; display: inline-block;}
.book div {box-sizing: border-box; word-break: keep-all; text-align: left; padding-left: 16px; padding-right: 16px;}
.book div span{ text-overflow: ellipsis; width: 148px; display: block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; min-height: 20px}
.book-title span{width:328px !important; }
.book-year span{width: 58px !important; text-align: center !important; padding-left: 0px  !important;}
.book-type span{width: 58px !important; text-align: center !important; padding-left: 0px  !important;}
.book p{display: inline-block; margin-top: 16px; margin-bottom: 18px;}
.book:hover{cursor: pointer; background-image: url("img/bg2.png"); transition: 0.3s;}

.visible{visibility: visible;}
.invisible{visibility: hidden;}
.activated{background-color: #000!important; color: #fff;}
.activated:hover{background-color: #000 !important;}

#introduction{position: fixed; top: 63px; width: 100vw; height: calc(100vh - 63px); background-color: #fff; z-index: 999}
#introduction::selection{background-color: #000; color: #fff;}
#introduction img{width: 130px;}
#introduction-0 {width: 30px; box-sizing: border-box; height: 100%; border-right: 1px solid #000; float: left;}
#introduction-1{width:540px; box-sizing: border-box; height: 100%; border-right: 1px solid #000; display: inline-block; font-size: 16px; white-space: pre-wrap;  padding: 16px 16px 16px 16px; overflow-y: scroll; line-height: 1.55;}
#introduction-1 span::selection{background-color: #000; color: #fff;}
#introduction-2{width:calc(100vw - 570px); box-sizing: border-box;  height: 100%; display: inline-block; float: right; font-size: 16px; white-space: pre-wrap; padding: 0px 16px 16px 16px; overflow-y: scroll; line-height: 1.55}
#introduction-2 span{margin-bottom: 30px; display: inline-block;}
#introduction-2 span::selection{background-color: #000; color: #fff;}

#filter{position: fixed; top: 63px; width: 100vw; height: calc(100vh - 63px); z-index: 999}
#filter-window{position: fixed; top: 63px; width: 100vw; height: 300px; background-color:#fff; z-index: 998; border-bottom: 1px solid #000; box-sizing: 1px;}
#filter-bg{position: fixed; top: 63px; width: 100vw; height: calc(100vh - 63px); background-color:#000; opacity: 0.6; z-index: 997}
#introduction-2{ -ms-overflow-style: none; } #introduction-2::-webkit-scrollbar { display: none;}
#introduction-1{ -ms-overflow-style: none; } #introduction-1::-webkit-scrollbar { display: none;}


.openBook{height: auto !important; background-image: url("img/bg2.png");}
.book p{ font-size: 11px;}
